@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* -------------------HEADER------------------------ */

header {
    height: 240px;
    background-color: black;
    color: white;
    text-align: center;
}

#texto-header {
    font-size: 16px;
    padding: 0px 45px 20px 45px;
}

#baixe_agora {
    background-color: #4100F7;
    width: 191px;
    height: 32px;
    color: white;
    text-align: center;
    border-radius: 40px;
    border: none;
}

/* -----------------------MAIN------------------------- */

/* ...........section1............... */

.criadores {
    height: 400px;
    background-color: black;
    color: white;
    padding: 30px 20px 20px 20px;
    /* border-bottom: 1px solid #4100F7; */
}

.criador1 {
    margin-bottom: 30px;

    display: grid;
    grid-template-areas: 'josias texto1' 'nome-josias texto1';
    grid-template-columns: 50% 50%;
    grid-template-rows: 85% 15%;
}

#josias {
    grid-area: josias;
}

#nome-josias {
    grid-area: nome-josias;
    padding: 10px 0px 0px 25px;
    font-size: 12px;
}

#texto1 {
    grid-area: texto1;
    font-size: 13px;
    text-align: right;
    padding-top: 25px;
}

.criador2 {
    margin-bottom: 30px;

    display: grid;
    grid-template-areas: 'maccari texto2' 'nome-maccari texto2';
    grid-template-columns: 50% 50%;
    grid-template-rows: 85% 15%;
}

#maccari {
    grid-area: maccari;
}

#nome-maccari {
    grid-area: nome-maccari;
    padding: 10px 0px 0px 15px;
    font-size: 12px;
}

#texto2 {
    grid-area: texto2;
    font-size: 13px;
    text-align: right;
    padding-top: 15px;
}

.criadores span {
    color: #4100F7;
}

/* ...........section2............... */

.features {
    height: 640px;
    background-color: black;
    color: white;
    padding: 20px 40px;

    display: grid;
    grid-template-areas: 'titulo titulo' 'card1 card2' 'card3 card3';
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 43% 42px;
}

.features h2 {
    grid-area: titulo;
    padding: 0px 30px 20px 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.features h2 span {
    color: #4100F7;
}

.card1 {
    grid-area: card1;
    background-color: #333333;
    width: 135px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.card1 p {
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px 10px 10px;
}

.card1 img {
    border-radius: 20px;
}

.card2 {
    grid-area: card2;
    background-color: #333333;
    width: 135px;
    height: 250px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
    text-align: center;
}

.card2 p {
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px 10px 10px;
}

.card2 img {
    border-radius: 20px;
}

.card3 {
    grid-area: card3;
    background-color: #333333;
    width: 290px;
    height: 220px;
    padding: 10px;
    margin: 18px 0px 0px 11px;
    border-radius: 20px;
    text-align: center;
}

.card3 p {
    font-size: 15px;
    font-weight: 400;
    padding: 5px 10px 12px 10px;
}

.card3 img {
    border-radius: 20px;
}

/* ...........section3............... */

.section-carrossel {
    background-color: black;
    color: white;
    height: 380px;
}

.section-carrossel h2 {
    padding: 20px 30px 20px 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.carrosel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 350px;
    height: 220px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid white;
}

.slides{
    width: 350px;
    height: 220px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 100%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 350px;
    height: 220px;
}

.navegacao-manual{
    position: absolute;
    width: 300px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.manual-botao{
    border: 2px solid  white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-botao:not(:last-child){
    margin-right: 40px;
}

.manual-botao:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

#radio4:checked ~ .first{
    margin-left: -300%;
}

/* .navegacao-botao div{
     border: 2px solid #22a7ff;
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 1s;
} */

.navegacao-botao{
    position: absolute;
    width: 350px;
    margin-top: 353px;
    display: flex;
    justify-content: center;
}

.navegacao-botao div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegacao-botao .botao-1{
    background-color: white;
}

#radio2:checked ~ .navegacao-botao .botao-2{
    background-color: white;
}

#radio3:checked ~ .navegacao-botao .botao-3{
    background-color: white;
}

#radio4:checked ~ .navegacao-botao .botao-4{
    background-color: white;
}

/* ...........section4............... */

.venha-ser-suber {
    background-color: black;
    color: white;
    height: 580px;
    text-align: center;
}

.venha-ser-suber h2 {
    padding: 20px 30px 20px 30px;
    font-size: 30px;
    font-weight: 400;
}

#instale-agora {
    background: linear-gradient(90deg, #6136D9 0%, #331D73 100%);
    color: white;
    width: 325px;
    height: 79px;
    border-radius: 10px;
    text-align: center;
    border: none;
    font-size: 30px;
    font-weight: 600;
    margin: 25px 0px 20px 0px;
}

.venha-ser-suber p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

#faça_login {
    background: linear-gradient(90deg, #6136D9 0%, #331D73 100%);
    color: white;
    width: 164px;
    height: 21px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    font-size: 12px;
    text-decoration: none;
}

/* ----------------------FOOTER---------------------- */


footer {
    height: 200px;
    background-color: #333333;
    color: white;
    padding: 30px 0px 20px 20px;

    display: grid;
    grid-template-areas: 'parte1 parte2 parte3' 'mais_info mais_info mais_info';
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 75% 25%;
}

footer h5 {
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 7px;
}

footer p {
    color: #C5CADB;
    font: 11px;
    font-weight: 400;
    padding: 3px 0px;
}

.parte1 {
    grid-area: parte1;
    font-size: 11px;
    padding: 0px 35px;
}

.parte2 {
    grid-area: parte2;
    font-size: 11px;
}

.parte3 {
    grid-area: parte3;
    font-size: 11px;
    padding-right: 15px;
}

#mais_info {
    grid-area: mais_info;
    background: linear-gradient(90deg, #6136D9 0%, #331D73 100%);
    width: 351px;
    height: 21px;
    border-radius: 10px;
    font-size: 11px;
    font-weight: 400;
    margin: 15px 20px 10px 10px;
    padding-left: 10px;
}

#email {
    background-color: #333333;
    height: 20px;
    width: 160px;
    font-weight: 400;
    font-size: 11px;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
    margin-left: 2px;
}